<p>
<h1><span class="headertext">Your Referrals Status</span></h1>
<br><span class="footertext">
Hi! <%= @shopcode.first_name %>, 
<p>
Thank you for shopping with us! You have earned $<%= @shopcode.store_credit %> with your Shopcode: <%= @shopcode.shop_code %>
<br>
You can redeem your credit when it reaches $50!
<p>
</span>

<!-- use html comment tag -->
<!-- display the couponsales for the shopcode. -->
<% if @shopcode.store_credit > 0 %>
<table border="0" cellpadding="0" cellspacing="0" width="350">
	<thead>
	<tr>
		<td><b><span class="footertexthighlight">Purchase Date</span></b></td>
		<td><b><span class="footertexthighlight">Name</span> </b></td>
		<td align='right'><b><span class="footertexthighlight">Amount</span> </b></td>
		<td align='right'><b><span class="footertexthighlight">Credit Earned</span></b></td>
	</tr>
	</thead>

	<tbody>
		<% @couponsales.each do |couponsale| %>
		<tr>
			<td><span class="footertext"><%= couponsale.purchase_date %></span></td>
			<td><span class="footertext"><%= couponsale.first_name %></span></td>
			<td align='right'><span class="footertext">$<%= couponsale.amount %></span></td>
			<td align='right'><span class="footertext">$<%= couponsale.credit %></span></td>
		</tr>
	<% end %>
	</tbody>
	<tr><td colspan='4' align="right"> &nbsp; </td> </tr>
	<tr>
		<td colspan='4' align="right">
			<%= link_to_function "Back", "history.back()", :class => "brandlink" %> &nbsp; <%= link_to "Shop", "http://www.funtote.com/catalog.html", :class => "brandlink" %>
		</td>
	</tr>
</table>
<% end %>
